/* Author:Buddy Collins */
#mapid {
    height: 600px;
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;


  }
#chartid{
    height:300px;
    width:80%;
    text-align: center;
    display:inline-block;
    background-color: #e6e6e6;
    margin-left: 10%;
    margin-right: 10%;

}
#header {
  width: 80%;
  background-color: #f1f1f1;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
#footer {
  width: 80%;
  background-color: #f1f1f1;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.info {
  padding: 20px 12px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: 'black';
}
