/* Author:Buddy Collins */
#mapid {
    float:left;
    height: 600px;
    width: 55%;
    display: inline-block;
    padding: 0px 0px;
    margin-left: 5%;

  }
#chartid{
    float: right;
    height:600px;
    width:35%;
    text-align: center;
    background-color: #e6e6e6;
    padding: 0px 0px;
    margin-right: 5%;

}
#about{
  clear:both;
  height:375px;
  width:90%;
  background-color: #cccccc;
  margin-right: 5%;
  margin-left: 5%;
}
#header {
  height:50px;
  width: 90%;
  background-color:  #cccccc;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border:1px solid black;
}
#footer {
  width: 90%;
  background-color:  #cccccc;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border:1px solid black;

}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 250px;
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;
}

.info {
  padding: 20px 12px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: 'black';
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: auto;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
